<html>
<body>
<h1>
"We're collecting aspectual paradigms of some Rutul verbs. Under every translation glosses should be written."
</h1>
<h3>
<form action="/inp">
<p>Inf: <input type="text" name="inf"></p>
<p>Pst M: <input type="text" name="Pst M"></p>
<p>Pst F: <input type="text" name="Pst F"></p>
Pst An: <input type="text" name="Pst An">
Pst 4: <input type="text" name="Pst 4">
Pst HumPl: <input type="text" name="Pst HumPl">
Pst AnPl: <input type="text" name="Pst AnPl">
Pst InanPl: <input type="text" name="Pst InanPl">
Prs M: <input type="text" name="Prs M">
Prs F: <input type="text" name="Prs F">
Prs An: <input type="text" name="Prs An">
Prs 4: <input type="text" name="Prs 4">
Prs HumPl: <input type="text" name="Prs HumPl">
Prs AnPl: <input type="text" name="Prs AnPl">
Prs InanPl: <input type="text" name="Prs InanPl">
Imp M: <input type="text" name="Imp M">
Imp F: <input type="text" name="Imp F">
Imp An: <input type="text" name="Imp An">
Imp 4: <input type="text" name="Imp 4">
Imp HumPl: <input type="text" name="Imp HumPl">
Imp AnPl: <input type="text" name="Imp AnPl">
Imp InanPl: <input type="text" name="Imp InanPl">
Proh M: <input type="text" name="Proh M">
Proh F: <input type="text" name="Proh F">
Proh An: <input type="text" name="Proh An">
Proh 4: <input type="text" name="Proh 4">
Proh HumPl: <input type="text" name="Proh HumPl">
Proh AnPl: <input type="text" name="Proh AnPl">
Proh InanPl: <input type="text" name="Proh InanPl">
<p><input type="submit" value="send"></p>
</form>
</h3>
</body>
</html>
